<h1>Предмет - <%= subject.name %></h1>
<% if sort_statistics.present? %>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">ФИО</th>
        <th scope="col">Средний % правельных ответов</th>
        <th scope="col">Лучший результат, %</th>
      </tr>
    </thead>
    <tbody>
      <% sort_statistics.each_with_index do |stat, index| %>
        <tr>
          <th scope="row"><%= index + 1 %>.</th>
          <td><%= stat[:full_name] %></td>
          <td><%= stat[:avg_persent] %>%</td>
          <td><%= stat[:max_persent] %>%</td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h1>По данному предмету статистики нет</h1>
<% end %>
