<% if statistics.present? %>
  <h1>Предмет - <%= statistics.first.subject.name %></h1>
  <p>Последние 100 тестов сортированных по дате</p>
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Правильных ответов / всего</th>
        <th scope="col">Качество, %</th>
        <th scope="col">Тест</th>
        <th scope="col">Дата прохождения</th>
        <th scope="col">Отчеты</th>
      </tr>
    </thead>
    <tbody>
      <% statistics.each_with_index do |statistic, index| %>
        <tr>
          <th scope="row"><%= index + 1 %>.</th>
          <td><span><%= statistic.corrent_answer_count %></span> / <%= statistic.questions_count %></td>
          <td><%= statistic.corrent_answer_percent.round(2) * 100 %></td>
          <td>
            <% if statistic.pass? %>
              <span class="color--green">Пройден</span>
            <% else %>
              <span class="color--red">Провален</span>
            <% end %>
          </td>
          <td><%= statistic.created_at.strftime("%H:%M %F")  %></td>
          <td><%= link_to 'Смотреть', statistic_user_path(id: statistic.id), class: 'btn btn-warning' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="stat_info">Тестов по данному предмету не пройдено</p>
<% end %>
