<section class="user_statistic">
  <% if @statistic.pass? %>
    <div class="pass">
      <h1>Тест <span class="color--green">пройден</span>. Поздравляю!
        <span class="color--green">
          <%= @statistic.corrent_answer_count %>
        </span>
        / <%= @statistic.questions_count %>
      </h1>
      <p>Вы набрали <%= @statistic.corrent_answer_percent.round(2) * 100 %>%</p>

      <% if @incorrect_answers.present? %>
        <h2>Повторите следующие темы:</h2>
        <% @incorrect_answers.each do |incorrect_answer| %>
          <p>
            Тема - <%= incorrect_answer.question.theme %>.
            <% if incorrect_answer.question.literature.present? %>
              Литература - <%= incorrect_answer.question.literature %>
            <% end %>
          </p>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <div class="fail">
      <h1>Тест <span class="color--red">провален</span></h1>
      <p>Вы набрали <%= @statistic.corrent_answer_percent.round(2) * 100 %>% из неободимых <%= @statistic.need_answer_percent * 100 %>%.
        <span class="color--green">
          <%= @statistic.corrent_answer_count %>
        </span> правельных из
        <%= @statistic.questions_count %>
      </p>

      <% if @incorrect_answers.present? %>
        <h2>Повторите следующие темы:</h2>
        <% @incorrect_answers.each do |incorrect_answer| %>
          <p>
            Тема - <%= incorrect_answer.question.theme %>.
            <% if incorrect_answer.question.literature.present? %>
              Литература - <%= incorrect_answer.question.literature %>
            <% end %>
          </p>
        <% end %>
      <% end %>
    </div>
  <% end %>
</section>
