<section class="end_test">
  <% if statistic.pass? %>
    <div class="pass">
      <h1>Тест <span>пройден</span>. Поздравляю!
        <span class="green">
          <%= statistic.corrent_answer_count %>
        </span>
        / <%= statistic.questions_count %>
      </h1>
      <p>Вы набрали <%= statistic.corrent_answer_percent.round(2) * 100 %>%</p>

      <% if incorrect_answers.present? %>
        <h2>Повторите следующие темы:</h2>
        <% incorrect_answers.each do |incorrect_answer| %>
          <p><%= incorrect_answer.answer %></p>
        <% end %>
      <% end %>

      <%= form_tag({ controller: 'test', action: 'create' }, method: 'post', class:'test_form') do %>
        <%= hidden_field_tag('test[subject_id]', statistic.test.subject_id) %>
        <%= submit_tag('Пройти тест ещё раз', class: '') %>
      <% end %>
    </div>
  <% else %>
    <div class="fail">
      <h1>Тест <span>провален</span></h1>
      <p><span><%= statistic.corrent_answer_count %></span> правельных из <%= statistic.questions_count %></p>
      <p>Вы набрали <%= statistic.corrent_answer_percent.round(2) * 100 %>% из неободимых <%= statistic.need_answer_percent * 100 %>%</p>

      <% if incorrect_answers %>
        <h2>Повторите следующие темы:</h2>
        <% incorrect_answers.each do |incorrect_answer| %>
          <p>
            Тема - <%= incorrect_answer.question.theme %>.
            <% if incorrect_answer.question.literature.present? %>
              Литература - <%= incorrect_answer.question.literature %>
            <% end %>
          </p>
        <% end %>
      <% end %>

      <%= form_tag({ controller: 'test', action: 'create' }, method: 'post', class:'test_form') do %>
        <%= hidden_field_tag('test[subject_id]', statistic.test.subject_id) %>
        <%= submit_tag('Пройти тест ещё раз', class: '') %>
      <% end %>
    </div>
  <% end %>
</section>
