<header class="navbar navbar-inverse">
  <nav>
    <ul class="nav pull-left">
      <li><%= link_to 'Главная', root_path %></li>
    </ul>

    <ul class="nav pull-right">
      <% if user_signed_in? %>
        <li class="hello-user"><%= current_user.email %></li>
        <li><%= link_to 'Редактировать профиль', edit_user_registration_path %></li>
        <li><%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to 'Войти', new_user_session_path %></li>
        <li><%= link_to 'Зарегистрироваться', new_user_registration_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
